:root {
    --main-font-text: "Manrope", sans-serif;
    --main-font-heading: 'Archivo Black', sans-serif;
    --main-color: #C7F075;
    --secondary-color: #70D799;
    --main-color-text: #3D4F19;
}


p, li {
  font-family: var(--main-font-text);
}

h1, h2, h3, h4 {
    font-family: var(--main-font-heading);
}