:root {
    --main-font-text: "Manrope", sans-serif;
    --main-font-heading: 'Archivo Black', sans-serif;
    --main-color: #C7F075;
    --secondary-color: #70D799;
    --main-color-text: #36421c;
    --main-color-links: #667b6e;
    --main-color-links-visited: #84988c;
}

body {
    margin-left: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--main-font-heading);
    color: var(--main-color-text);
}

h1 {
    font-size: clamp(42px, 5vw, 70px);
}

h2 {
    font-size: clamp(35px, 4.5vw, 60px);
}

h3 {
    font-size: clamp(28px, 4vw, 50px);
}

h4 {
    font-size: clamp(21px, 3vw, 30px);
}

p, li {
  font-family: var(--main-font-text);
  font-size: clamp(14px, 2vw, 25px);
  color: var(--main-color-text);
}



a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color-links);
}

a:visited {
    color: var(--main-color-links-visited);
}

img {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50px;
    max-width: 65%;
}

.btn-primary {
    background-color: var(--main-color);
    color: var(--main-color-text);
    border-color: var(--main-color);
    font-family: var(--main-font-text);
    margin-bottom: 15px;
}