.navbar-container {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding: 10px;
  }
  
  .nav-item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 30px;
  }

  .navbar-list {
    display: flex;
  }
  
  #logo {
    max-height: 60px;
    max-width: 60px;
    padding: 0;
  }
